<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel='stylesheet' href='stylesheets/css/weui.css' />
    <link rel='stylesheet' href='stylesheets/css/weuix.css' />
    <script src="javascripts/zepto.min.js"></script>
    <script src="javascripts/zepto.weui.min.js"></script>


  </head>
  <body ontouchstart>
    
    <form name="form_order" method = "post" action = "http://www.vtuanba.cn/order/confirm" >
      
      <div class="weui-cells weui-cells_form">
        

          <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">地址</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" id="select_addr" name="select_addr">
                  <%  index = 1 %>
                  <% for(var addr in addrs){ %>
                      <option value = <%= index %> >
                      <%= addrs[addr] %>
                      <% index = index + 1%>
                      </option>
                  <% } %>
                    
                </select>
            </div>
          </div>


          <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">姓名</label>
            </div>
            <div class="weui-cell__bd">
                <% index = 0 %>
                <% for(var item in allname){ %>
                <%  selectname = "select_name" + index %>
                <%  names = allname[item] %>
                <select class="weui-select" id="<%= selectname %>" name="select_name">
                    
                    <% for(var name in names) { %>
                      <option value="<%=names[name]%>"><%=names[name]%></option>
                    <% } %>
                </select>
                <% index = index + 1 %>
                <% } %>
            </div>
          </div>

          <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">餐类型</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" id="select_category" name="select_category">
                  <%  index = 1 %>
                  <% for(var cate in cates){ %>
                      <option value = <%= index %> >
                      <%= cates[cate] %>
                      <% index = index + 1%>
                      </option>
                  <% } %>
                </select>
            </div>
          </div>

          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">快餐数</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="food_num" name="food_num" pattern="[0-9]*" placeholder="请输入米饭数量" type="number" value=0>
            </div>
          </div>
        

          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">米饭数</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="rice_num" name="rice_num" pattern="[0-9]*" placeholder="请输入米饭数量" type="number" value = 0>
            </div>
          </div>
        

        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">馒头数</label></div>
          <div class="weui-cell__bd">
              <input class="weui-input" id="mantou_num" name="mantou_num" pattern="[0-9]*" placeholder="请输入馒头数量" type="number" value = 0>
          </div>
        </div>

        <div class="weui-btn-area">
          <a class="weui-btn weui-btn_primary" href="javascript:" id="btn">确定</a>
        </div>
        <div class="weui-btn-area">
          <a class="weui-btn weui-btn_primary" href="http://www.vtuanba.cn/order/getlist" id="btncheck">查看列表</a>
        </div>
           
  
      </div>
    </form>

    <script type="text/javascript">

      $("select[id^='select_name']").removeAttr("disabled");
      /**
       * 根据地址选项，变更人名
       */
      function construct_name_opt() {
        var select_index = $("#select_addr").get(0).selectedIndex;
        console.log("$select_name" + select_index);
        $("select[id^='select_name']").hide();
        
        
        $("#select_name" + select_index).show();
        
      }

     $(function(){
      construct_name_opt();

      $("#select_addr").change(function(){

          construct_name_opt();
          
      });

      $("#btn").click(function(){
        var select_index = $("#select_addr").get(0).selectedIndex;
        select_index = "#select_name" + select_index;

        $("select[id^='select_name']").attr("disabled","disabled");
        $(select_index).removeAttr("disabled");

        var confirmdata = $("#select_addr option:selected").text() + $(select_index).val() + "<br>"
            + $("#select_category option:selected").text() + $("#food_num").val() + "份<br> "
            + "\n米饭" + $("#rice_num").val() + "份<br>"
            +  "馒头" + $("#mantou_num").val() + "份";
        $.confirm( confirmdata, "正确提交?", function() {
                    $("form[name='form_order']").submit();
                    $.toast("提交成功!");
                }, function() {
                    //取消操作
                });
      });




    });

    </script>
  </body>
</html>